<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :plus_two %><br>
    <%= f.select(:plus_two, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :plus_one %><br>
    <%= f.select(:plus_one, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :zero %><br>
    <%= f.select(:zero, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :minus_one %><br>
    <%= f.select(:minus_one, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :minus_two %><br>
    <%= f.select(:minus_two, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.select(:comments, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :jenkins_success %><br>
    <%= f.select(:jenkins_success, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :jenkins_failure %><br>
    <%= f.select(:jenkins_failure, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :new_patch %><br>
    <%= f.select(:new_patch, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :qa_approved %><br>
    <%= f.select(:qa_approved, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :product_approved %><br>
    <%= f.select(:product_approved, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :qa_and_product_approved %><br>
    <%= f.select(:qa_and_product_approved, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :merged %><br>
    <%= f.select(:merged, notification_options) %>
  </div>
  <div class="field">
    <%= f.label :channel_name %><br>
    <%= f.text_field :channel_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
