
      <h1>Projects</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Slack Channel</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td>#<%= project.channel_name %></td>
              <td class="project-table-buttons"><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-xs btn-success' %> <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'Add New Project', new_project_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>